<z-card class="w-full h-full flex flex-col">
  <h1 class="font-semibold flex">
    <i-lucide [img]="WalletMinimalIcon" class="mr-1" />
    Credit card statements
  </h1>

  <!-- Se não existirem cartões -->
  <!-- <div class="flex flex-col items-center justify-center p-6 mt-6">
    <div class="size-12 flex items-center justify-center rounded-xl bg-accent text-accent-foreground mb-4">
      <span class="material-symbols-outlined text-3xl">
        <i-lucide [img]="WalletMinimalIcon" class="my-icon" />
      </span>
    </div>

    <div class="flex flex-col items-center text-center">
      <div class="space-y-2 mt-6">
        <p>Nenhum cartão de crédito</p>
        <span>Adicione cartões para acompanhar faturas</span>
      </div>
    </div>
  </div> -->

  <!-- Se existirem cartões -->
  <div class="flex-1">
    <z-card class="mt-4 mb-2">
      <div class="flex w-full items-center outline-none p-2">
        <div class="size-12 flex items-center justify-center rounded-xl bg-primary text-primary-foreground">
          <span class="material-symbols-outlined text-3xl">
            <i-lucide [img]="WalletMinimalIcon" class="my-icon" />
          </span>
        </div>

        <div class="ml-4 grid flex-1 text-left text-sm leading-tight">
          <span class="truncate text-sm font-medium">Banco CTT</span>
          <span class="truncate text-xs text-muted-foreground">Exp. 09/29</span>
        </div>

        <div class="ml-4 grid flex-1 text-right text-sm leading-tight">
          <span class="truncate text-sm font-medium">800,00€</span>
          <span class="truncate text-xs text-muted-foreground">Avail. 4.200,00€</span>
        </div>
      </div>
    </z-card>

    <z-card>
      <div class="flex w-full items-center outline-none p-2">
        <div class="size-12 flex items-center justify-center rounded-xl bg-secondary text-secondary-foreground">
          <span class="material-symbols-outlined text-3xl">
            <i-lucide [img]="WalletMinimalIcon" class="my-icon" />
          </span>
        </div>

        <div class="ml-4 grid flex-1 text-left text-sm leading-tight">
          <span class="truncate text-sm font-medium">Revolut</span>
          <span class="truncate text-xs text-muted-foreground">Exp. 02/27</span>
        </div>

        <div class="ml-4 grid flex-1 text-right text-sm leading-tight">
          <span class="truncate text-sm font-medium">100,00€</span>
          <span class="truncate text-xs text-muted-foreground">Avail. 1.400,00€</span>
        </div>
      </div>
    </z-card>
  </div>

  <div class="flex flex-col items-center justify-center mt-4">
    <z-button class="cursor-pointer" zType="ghost" routerLink="/wallets">
       Manage cards
      <i-lucide [img]="ChevronRightIcon" />
    </z-button>
  </div>
</z-card>
