<div class="mx-auto max-w-2xl px-4 py-8">
  <div class="w-full max-w-2xl space-y-6">
    @if (user(); as user) {
      <div class="flex flex-col items-center text-center">
        <z-avatar 
          [zSrc]="user.avatarUrl"
          [zFallback]="initials()"
          [zAlt]="user.name"
          [zSize]="80"
        />

        <div class="space-y-2 mt-6">
          <p class="text-foreground">{{ user.name }}</p>
          <p class="text-muted-foreground">{{ user.email }}</p>
        </div>

        <div class="space-y-2 mt-12">
          <z-button class="cursor-pointer" zType="outline" (click)="openDialog()">
            Change password
          </z-button>
        </div>

        <div class="flex items-center gap-2 text-sm mt-6">
          <z-badge zType="outline" class="gap-2 p-2">
            <i-lucide [img]="CalendarIcon" class="size-4 text-emerald-200" />
            <span>Member since: {{ user.createdAt | date: 'MMM yyyy'}}</span>
          </z-badge>
        </div>
      </div>

      <z-divider />

      <div class="grid grid-cols-3 gap-4">
        @for (stat of stats; track stat.label) {
          <div class="bg-card rounded-lg border p-4 text-center mt-6">
            <div class="bg-emerald-700/50 text-emerald-200 mx-auto mb-3 flex size-10 items-center justify-center rounded-full">
              <i-lucide [img]="TagIcon" class="size-5" />
            </div>
            <p>
              {{ stat.label }} -
              <span class="font-bold">
                {{ stat.value }}
              </span>
            </p>
          </div>
        }
      </div>
    }
  </div>
</div>