<z-card class="w-full h-full flex flex-col">
  <h1 class="font-semibold flex">
    <i-lucide [img]="WalletMinimalIcon" class="mr-1" />
    Credit card statements
  </h1>

  @if (hasCreditCards()) {
  <div class="flex-1">
    @for (card of creditCards(); track card.id; let first = $first) {
    <z-card [class]="first ? 'mt-4 mb-2' : 'mb-2'">
      <div class="flex w-full items-center outline-none p-2">
        <div
          class="size-12 flex items-center justify-center rounded-xl text-white"
          [class]="getBgColorClass(card)"
        >
          <i-lucide [img]="CreditCardIcon" class="size-5" />
        </div>

        <div class="ml-4 grid flex-1 text-left text-sm leading-tight">
          <span class="truncate text-sm font-medium">{{ card.name }}</span>
          <span class="truncate text-xs text-muted-foreground">Exp. 09/29</span>
        </div>

        @if (card.creditLimit) {
        <div class="ml-4 grid flex-1 text-right text-sm leading-tight">
          <span class="truncate text-sm font-medium">{{ card.creditLimit | number:'1.2-2' }}€</span>
          <span class="truncate text-xs text-muted-foreground">Credit Limit</span>
        </div>
        }
      </div>
    </z-card>
    }
  </div>

  <div class="flex flex-col items-center justify-center mt-4">
    <z-button class="cursor-pointer" zType="ghost" routerLink="/cards">
      Manage cards
      <i-lucide [img]="ChevronRightIcon" />
    </z-button>
  </div>
  } @else {
  <div class="flex flex-col items-center justify-center p-6 mt-6">
    <div
      class="size-12 flex items-center justify-center rounded-lg bg-accent text-accent-foreground mb-4"
    >
      <i-lucide [img]="WalletMinimalIcon" class="size-5" />
    </div>

    <div class="flex flex-col items-center text-center">
      <div class="space-y-2 mt-6">
        <p>No credit cards</p>
        <span>Add cards to track invoices.</span>
      </div>
    </div>
  </div>
  }
</z-card>
