<div class="py-4">
  <nav class="mx-auto flex items-center gap-2">
    <z-button zSize="sm" zType="ghost" 
      class="text-muted-foreground border border-transparent"
      routerLink="/dashboard" 
      routerLinkActive="!text-foreground !border-input"
    >
      Dashboard
    </z-button>

    <z-button zSize="sm" zType="ghost" 
      class="text-muted-foreground border border-transparent"
      routerLink="/wallets" 
      routerLinkActive="!text-foreground !border-input"
    >
      Wallets
    </z-button>

    <z-button zSize="sm" zType="ghost" 
      class="text-muted-foreground border border-transparent"
      routerLink="/transactions" 
      routerLinkActive="!text-foreground !border-input"
    >
      Transactions
    </z-button>

    <z-button zSize="sm" zType="ghost" 
      class="text-muted-foreground border border-transparent"
      routerLink="/statistics" 
      routerLinkActive="!text-foreground !border-input"
    >
      Statistics
    </z-button>

    <z-button zSize="sm" zType="ghost" 
      class="text-muted-foreground border border-transparent"
      routerLink="/goals" 
      routerLinkActive="!text-foreground !border-input"
    >
      Goals
    </z-button>
  </nav>
</div>
