@if (user(); as user) {
  <!-- User Button -->
  <button
    type="button"
    class="flex w-full cursor-pointer items-center outline-none p-4 mt-[-20px] mb-[-5px] group-data-[collapsible=icon]:justify-center"
    z-dropdown
    [zDropdownMenu]="menu"
  >
    <z-avatar
      [zSrc]="user.avatarUrl"
      [zFallback]="initials()"
      [zAlt]="user.name"
      [zSize]="'sm'"
      zShape="rounded"
      class="shrink-0 cursor-pointer"
    />

    <div
      class="ml-4 grid flex-1 text-left text-sm leading-tight group-data-[collapsible=icon]:hidden"
    >
      <span class="truncate text-sm font-medium">{{ user.name }}</span>
      <span class="truncate text-xs text-muted-foreground">{{ user.email }}</span>
    </div>

    <i-lucide
      [img]="ChevronsUpDownIcon"
      class="text-muted-foreground size-4 ml-auto group-data-[collapsible=icon]:hidden"
    />
  </button>

  <!-- Dropdown Menu -->
  <z-dropdown-menu-content #menu="zDropdownMenuContent" class="w-56">
    <z-dropdown-menu-item routerLink="/profile">
      <i-lucide [img]="UserIcon" class="mr-2 size-4" />
      Profile
    </z-dropdown-menu-item>

    <z-divider class="-mx-1 my-1" />

    <z-dropdown-menu-item (click)="logout()">
      <i-lucide [img]="LogOutIcon" class="mr-2 size-4 text-destructive" />
      <span class="text-destructive"> Sign Out </span>
    </z-dropdown-menu-item>
  </z-dropdown-menu-content>
}
