<z-card class="mb-2 h-full flex flex-col">
  <div class="flex items-start justify-between">
    <div class="size-10 flex items-center justify-center rounded-lg text-white bg-accent">
      <i-lucide [img]="bankAccountIcon()" class="size-5 text-accent-foreground" />
    </div>

    <div class="ml-4 grid flex-1 text-left text-sm leading-tight">
      <span class="truncate text-sm font-medium">
        {{ account().name }}
      </span>
      <span class="truncate text-xs text-muted-foreground">
        {{ typeLabel() }}
      </span>
    </div>

    <!-- Popover Option -->
    <div class="flex items-center gap-1">
      <z-badge [zType]="account().balance > 0 ? 'available' : 'unavailable'" class="h-5">
        {{ account().balance > 0 ? 'Available' : 'Unavailable' }}
      </z-badge>

      <z-button zPopover [zContent]="popoverContent" zType="ghost">
        <i-lucide [img]="EllipsisVerticalIcon" class="size-5" />
      </z-button>
    </div>
  </div>

  <ng-template #popoverContent>
    <z-popover class="w-50 items-start">
      <div class="flex flex-col gap-1">
        <z-button zPopoverClose zType="ghost" zSize="sm" zFull (click)="updateCard()">
          <i-lucide [img]="SquarePenIcon" class="size-5 mr-2" />
          Edit
        </z-button>

        <z-button zPopoverClose zType="ghost" zSize="sm" zFull>
          <i-lucide [img]="EyeIcon" class="size-5 mr-2" />
          Details
        </z-button>
      </div>
      @if (canDelete()) {
      <z-divider />
      <z-button
        zPopoverClose
        zType="ghost"
        zSize="sm"
        zFull
        class="text-destructive"
        (click)="deleteCard()"
      >
        <i-lucide [img]="Trash2Icon" class="size-5 mr-2" />
        Delete
      </z-button>
      }
    </z-popover>
  </ng-template>

  <div class="mt-6">
    <p class="text-xs text-muted-foreground mb-1">Current Balance</p>
    <span class="text-xl font-bold" [class]="balanceColorClass()">
      {{ formattedBalance() }}
    </span>
  </div>

  <z-divider />

  <p class="text-xs text-muted-foreground mb-1">No confirmed movements.</p>
</z-card>
